{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "data": "./data",
          "theme": "./theme"
        }
      }
    ]
  ]
}
